<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div align="center">
            <h1 id="aspnetTitle">Result Processing System</h1>
            <h1 id="aspnetTitle">This Project is Developed by MD. ISMAIL HOSSAIN</h1>
            <h1 id="aspnetTitle">Reg No: 19502004891</h1>
            <h1 id="aspnetTitle">Roll No: 2261105</h1>
        </div>
    </section>
    
</main>