
@{
    ViewBag.Title = "StudentInformation";
}

<input type="text" class="form-control" id="idRegNo" style="display:none">
<div align="center">
    <h2>Student Information</h2>

    <label>Student Name</label>
    <input type="text" id="idName" />

    <label for="Department">Choose Department:</label>
    <select name="Dept" id="DeptName">
        @*<option value="Null">Select</option>
        <option value="CSE">CSE</option>  //JS THEKE ASHTESHE 
        <option value="BBA">BBA</option>*@
    </select>

    <label>Session Year</label>
    <input type="text" id="idSession" />
</div>

<div align="center">
    @*<label for="Semester">Semester:</label>
    <select name="Semester" id="idSemester">
        <option value="Null">Select Semester</option>
        <option value="1st Semester">1st Semester</option>
        <option value="2nd Semester">2nd Semester</option>
        <option value="3rd Semester">3rd Semester</option>
        <option value="4th Semester">4th Semester</option>
        <option value="5th Semester">5th Semester</option>
        <option value="6th Semester">6th Semester</option>
        <option value="7th Semester">7th Semester</option>
        <option value="8th Semester">8th Semester</option>
    </select>*@

    <div class="mb-3" style="margin-top:10px">
        <button type="button" class="btn btn-primary" onclick="Insert()">Submit</button>
        <button type="button" id="UpdateId" class="btn btn-primary" onclick="Update()">Update</button>
    </div>
</div>
<div align="center">
    <div style="width: 1000px;margin-top:100px">
        <table id="tblStudent" class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Reg No.</th>
                    <th>Student Name</th>
                    <th>Department</th>
                    <th>Session year</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/StudentInformation/RPS.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">